<li>
  <span ng-if="ctrl.isShow" ng-class="{done: ctrl.item.done}">
    <input type="checkbox" ng-model="ctrl.item.done" ng-if="ctrl.checkable"/>

    {{ctrl.item.description}}
    <button ng-click="ctrl.switchToEdit()">Edit</button>
    <button ng-click="ctrl.delete()">Delete</button>
  </span>

  <span ng-if="ctrl.isEdit">
    <form onsubmit="return false;">

      <input type="text" ng-model="ctrl.editDescription"/>

      <button ng-click="ctrl.save()" type="submit" ng-disabled="!ctrl.valid">Save</button>
      <button ng-click="ctrl.cancel()" type="reset">Cancel</button>
    </form>
  </span>
</li>
